/* Main Styles */
@font-face {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}

:root {
  --primary: #13eca4;
  --background-dark: #10221c;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
